<div data-visible="true" data-docked="true" data-position="left"
    data-opener-container="._maps-title._maps-overflow-hidden ._maps-menu-main" data-title="$tools"
    data-widget-id="_maps/widgets/ui/containers/ToolbarPane">
    <div data-widget-id="_maps/widgets/portal/UserProfile" data-icon-class="avatar" data-popup="true"
        data-has-panel="false" data-remain-connected="true" data-title="$userProfile">
    </div>
    <div data-widget-id="_maps/widgets/save/Save" data-icon-class="save" data-docked="false"
        data-no-heading="true" data-title="$save" data-no-maximize="true" data-no-docker="true">
    </div>
    <div data-widget-id="_maps/widgets/data/DataPane" data-icon-class="data" data-title="$data" data-no-docker="true">
    </div>
    <div data-widget-id="_maps/widgets/data/LayerList" data-title="$layers" data-has-basemap-card="true"
        data-icon-class="layers" data-multiple-selection-enabled="true" data-selection-enabled="true"
        data-preload="true" data-no-maximize="true" data-no-docker="true">
    </div>
    <div data-title="$legend" data-icon-class="legend" data-widget-id="_maps/widgets/legend/Legend"
        data-no-maximize="true" data-no-docker="true">
    </div>
    <div data-title="$mapNotes" data-docked="true" data-icon-class="pencil-mark" data-sketch-layout="vertical"
        data-show-table="false" data-widget-id="_maps/widgets/tools/MapNotes" data-no-docker="true">
    </div>
    <div data-icon-class="print" data-maximized="true" data-widget-id="_maps/widgets/print/Print" data-title="$print"
        style="opacity:1" data-no-docker="true">
    </div>
    <div data-widget-id="_maps/widgets/tools/ViewOptions" data-icon-class="configure" data-title="$options"
        data-no-maximize="true" data-no-docker="true">
    </div>
    <div id="Geoprocessing" data-widget-id="_maps/widgets/geoprocessing/Main" data-title="$geoProcessing"
        data-icon-class="hammer">
    </div>
    <div id="TTWidjModel" data-widget-id="app/widgets/TTWidjModel" data-title="$TTWidjModel" data-icon-class="applications" data-visible="true">
    </div>
</div>
