<div id="tools" data-visible="true" data-docked="true" data-position="left"
    data-opener-container="._maps-title._maps-overflow-hidden ._maps-menu-main" data-title="Outils"
    data-widget-id="_maps/widgets/ui/containers/ToolbarPane">

    <div id="Utilisateur" data-widget-id="_maps/widgets/portal/UserProfile" data-icon-class="avatar" data-popup="true"
    data-has-panel="false" data-remain-connected="true" data-title="Profil utilisateur">
    </div>

    <div  data-title="Layer list" data-widget-id="_maps/widgets/data/LayerList" data-icon-class="layers" data-preload="true">
    </div>

    <div  data-title="Content" data-widget-id="_maps/widgets/data/Content" data-icon-class="portal" data-show-portal-content="false"
     data-show-living-atlas-content="true" data-categories="" data-types="Feature Service,Map Service,Scene Service,Web Map" data-filter-config='{"tags":false,"groups":false,"favorites":false}'>
</div>

    <div data-widget-id="_maps/widgets/save/Save" data-icon-class="save" data-visible="false" data-docked="false"
      data-no-heading="true" data-title="Partager la carte" data-no-maximize="true" data-no-docker="true">
    </div>

    <div data-widget-id="_maps/widgets/data/DataPane" data-icon-class="data" data-title="Données" data-no-docker="true">
    </div>

    <div data-title="Légende" data-icon-class="legend" data-widget-id="_maps/widgets/legend/Legend"
        data-no-maximize="true" data-no-docker="true">
    </div>
    <div data-title="Croquis" data-docked="true" data-icon-class="pencil-mark" data-sketch-layout="vertical"
        data-show-table="false" data-widget-id="_maps/widgets/tools/MapNotes" data-no-docker="true">
    </div>
    <div data-icon-class="print" data-maximized="true" data-widget-id="_maps/widgets/print/Print" data-title="Impression"
        data-visible="false" style="opacity:1" data-no-docker="true">
    </div>
    <div data-widget-id="_maps/widgets/tools/ViewOptions" data-icon-class="configure" data-title="Options"
        data-no-maximize="true" data-no-docker="true">
    </div>
    <div id="Geoprocessing" data-widget-id="_maps/widgets/geoprocessing/Main" data-title="Géotraitement"
        data-icon-class="hammer">
    </div>
    <!-- <div id="FeatureForm" data-widget-id="_maps/widgets/tools/FeatureForm" data-title="Attributs"
        data-icon-class="beaker" data-no-docker="true" data-layer-name="CAD_ADRESSE">
    </div> -->
    <div id="StreetView" data-widget-id="_maps/widgets/views/StreetView" data-title="Google Street View"
        data-icon-class="user" data-no-maximize="true" data-no-docker="true">
    </div>
    <div id="MapGallery" data-widget-id="_maps/widgets/data/MapGallery" data-title="Themes web maps"
        data-icon-class="apps" data-resizable="true">
    </div>

    <div id="LayerManager" data-widget-id="_maps/widgets/data/LayerManager" data-title="Gestion des couches"
        data-icon-class="layers" data-resizable="true">
    </div>
    <div  data-title="Measure" 
      data-widget-id="_maps/widgets/tools/Measure"
      data-icon-class="measure"
      data-has-line-of-sight-tool="true"
      data-has-slice-tool="true">
</div>
    <div  data-title="Selection" data-widget-id="_maps/widgets/data/SelectionTable" data-icon-class="cursor-selection"
    data-layer-types="feature" data-has-layer-selector="true" data-enable-editing="true" >
    </div>

</div>