<div id="tools" data-visible="true" data-docked="true" data-position="left"
    data-opener-container="._maps-title._maps-overflow-hidden ._maps-menu-main" data-title="Outils"
    data-widget-id="_maps/widgets/ui/containers/ToolbarPane">

    <div id="Options" data-widget-id="_maps/widgets/tools/ViewOptions" data-icon-class="esri-icon-settings2"
        data-title="$options">
    </div>

    <div data-widget-id="_maps/widgets/save/Save" data-icon-class="save" data-visible="false" data-docked="false"
      data-no-heading="true" data-title="Partager la carte" data-no-maximize="true" data-no-docker="true">
    </div>

</div>