<div id="tools" data-visible="true" data-docked="true" data-position="left"
    data-opener-container="._maps-title._maps-overflow-hidden ._maps-menu-main" data-title="Outils"
    data-widget-id="_maps/widgets/ui/containers/ToolbarPane">

    <div id="Utilisateur" data-widget-id="_maps/widgets/portal/UserProfile" data-icon-class="avatar" data-popup="true"
    data-has-panel="false" data-remain-connected="true" data-title="Profil utilisateur">
    </div>


    <div data-widget-id="_maps/widgets/save/Save" data-icon-class="save" data-visible="false" data-docked="false"
      data-no-heading="true" data-title="Partager la carte" data-no-maximize="true" data-no-docker="true">
    </div>
    <!-- <div data-widget-id="_maps/widgets/data/DataPane" data-icon-class="data" data-visible="false" data-title="Données" data-no-docker="true">
    </div> -->
    <div data-widget-id="_maps/widgets/data/LayerList" data-title="Couches" data-has-basemap-card="true"
        data-icon-class="layers" data-multiple-selection-enabled="true" data-selection-enabled="true"
        data-preload="true" data-no-maximize="true" data-no-docker="true">
    </div>
    <div data-title="Légende" data-icon-class="legend" data-widget-id="_maps/widgets/legend/Legend"
        data-no-maximize="true" data-no-docker="true">
    </div>
    <div data-title="Croquis" data-docked="true" data-icon-class="pencil-mark" data-sketch-layout="vertical"
        data-show-table="false" data-widget-id="_maps/widgets/tools/MapNotes" data-no-docker="true">
    </div>
    <div data-icon-class="print" data-maximized="true" data-widget-id="_maps/widgets/print/Print" data-title="Impression"
        data-visible="false" style="opacity:1" data-no-docker="true">
    </div>
    <div data-widget-id="_maps/widgets/tools/ViewOptions" data-icon-class="configure" data-title="Options"
        data-no-maximize="true" data-no-docker="true">
    </div>
    <div id="Geoprocessing" data-widget-id="_maps/widgets/geoprocessing/Main" data-title="Géotraitement"
        data-icon-class="hammer">
    </div>
    <div id="FeatureForm" data-widget-id="_maps/widgets/tools/FeatureForm" data-title="Attributs"
        data-icon-class="beaker" data-no-docker="true" data-layer-name="Events">
    </div>
    <div id="StreetView" data-widget-id="_maps/widgets/views/StreetView" data-title="Google Street View"
        data-icon-class="user" data-no-maximize="true" data-no-docker="true">
    </div>
    <div id="WebMapList" data-widget-id="_maps/widgets/ui/WebMapList" data-title="Themes web maps" data-resizable="true"
        data-icon-class="apps" data-no-docker="true" data-no-maximize="true">
    </div>

</div>